.vhc-container
    .vhc
        #recovery-container
            .logo OpenProxy
            .hint (recovery mode)
            a#reset-btn(href="javascript:void(0)", title="Clear Proxy Settings").icon
                i.fontello-icon.icon-unlink
