doctype 5
html(lang="en", class="no-js")
    head
        meta(charset="utf-8")
        title Open Proxy
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        meta(name="description", content="World of open proxies on Google Maps")
        // todo: prevent stylesheets from being loaded unless js is enabled
        //[if !IE]>
        link(rel="stylesheet", href="thirdparty/github-fork-ribbon-css/gh-fork-ribbon.css")
        link(rel="stylesheet", href="thirdparty/fontello/fontello.css")
        link(rel="stylesheet", href="thirdparty/selectize/selectize.css")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Lato:300,400")
        //<![endif]
        // build:css stylesheets/index.min.css
        link(rel="stylesheet", href="stylesheets/google.maps.popover.css")
        link(rel="stylesheet", href="stylesheets/selectize.copy_to_clipboard.plugin.css")
        link(rel="stylesheet", href="stylesheets/selectize.load_more.plugin.css")
        link(rel="stylesheet", href="stylesheets/jquery.tipsy.css")
        link(rel="stylesheet", href="stylesheets/unobtrusive.notify.css")
        link(rel="stylesheet", href="stylesheets/index.css")
        // endbuild
        link(rel="icon", href="favicon.ico")
        script.
            document.documentElement.className =
                document.documentElement.className.replace(/\bno-js\b/,'') + ' js';
    body
        //[if !IE]>
        #root-container
            .bb-container
                .bb
                    #logo OpenProxy
                .bb
                    | World of open proxies on Google Maps
                    .hint (click on any country to get a list)
                #toolbar.bb
                    a(href="https://github.com/openproxy/openproxy-chrome-extension",
                      title="OpenProxy Chrome Extension").icon.with-tipsied-title
                        i.icon-chrome
            .github-fork-ribbon-wrapper.right
                .github-fork-ribbon
                    a(href="https://github.com/openproxy/openproxy.github.io") Fork me on GitHub
            #map-container
        noscript
            .unsupported-env.
                Open Proxy requires JavaScript to be enabled.<br/>
                Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.
        script(src="//maps.googleapis.com/maps/api/js?v=3.13&sensor=false&key=AIzaSyBkXBtlu9jmRQaY71s3rAtSXggtgjwgBSA")
        script(src="//code.jquery.com/jquery-2.0.3.min.js")
        script.
            window.jQuery || document.write('<script src="thirdparty/jquery/jquery.js"><\/script>')
        script(src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js")
        script.
            window.Spinner || document.write('<script src="thirdparty/spin/spin.js"><\/script>')
        script(src="thirdparty/selectize/selectize.js")
        script(src="//cdn.jsdelivr.net/zeroclipboard/1.2.2/ZeroClipboard.min.js")
        script.
            window.ZeroClipboard || document.write('<script src="thirdparty/zeroclipboard/zeroclipboard.js"><\/script>')
        script.
            ZeroClipboard.setDefaults({moviePath: 'thirdparty/zeroclipboard/zeroclipboard.swf'});
        script(src="//cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js")
        script.
            window.jQuery.fn.tipsy || document.write('<script src="thirdparty/jquery-tipsy/jquery.tipsy.js"><\/script>')
        script.
            window.jQuery.fn.tipsy.defaults.opacity = null;
            $('a.with-tipsied-title').tipsy({gravity: 'w'});
        // build:js scripts/index.min.js
        script(src="scripts/google.maps.popover.js")
        script(src="scripts/jquery.yql.js")
        script(src="scripts/xroxy.proxy.ds.js")
        script(src="scripts/selectize.copy_to_clipboard.plugin.js")
        script(src="scripts/selectize.load_more.plugin.js")
        script(src="scripts/selectize.select_on_preload.plugin.js")
        script(src="scripts/freegeoip.geolocation.provider.js")
        script(src="scripts/unobtrusive.notify.js")
        script(src="scripts/index.js")
        // endbuild
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-35914342-2', 'openproxy.github.io'); ga('send', 'pageview');
        //<![endif]
        //if IE
            .unsupported-env.
                Internet Explorer isn't supported by Open Proxy.<br/>
                Please use <a href="http://browsehappy.com/" target="_blank">any other browser</a>.
