doctype 5
html(lang="en")
    head
        title Open Proxy
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        meta(name="description", content="World of open proxies on Google Maps")
        link(rel="stylesheet", href="stylesheets/index.css")
        link(rel="icon", href="favicon.ico")
        script(src="//code.jquery.com/jquery-1.10.1.min.js")
        script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
        script(src="thirdparty/jquery.xdomainajax/jquery.xdomainajax.js")
        script(src="scripts/index.js")
    body
        #map-container
