@font-face
    font-family: 'Fontello'
    src: url('../thirdparty/fontello.font/fontello.ttf?57755967') format('truetype')
    font-weight: normal
    font-style: normal

.fontello-icon

    &:before
        display: inline-block
        width: 1em
        margin-right: .2em
        margin-left: .2em
        font-family: "Fontello"
        font-style: normal
        font-weight: normal
        line-height: 1em
        text-align: center
        text-decoration: inherit
        text-transform: none
        speak: none
        font-variant: normal

    &.icon-firefox:before
        content: '\e800'

    &.icon-chrome:before
        content: '\e801'

    &.icon-link:before
        content: '\e803'

    &.icon-unlink:before
        content: '\e804'

    &.icon-clipboard:before
        content: '\e802'