html, body, #map-container
    margin: 0
    padding: 0
    height: 100%

.info-window
    margin-top: 6px
    margin-left: 15px
    margin-bottom: 8px
    table
        border-collapse: collapse
    thead
        th
            padding-bottom: 6px
            font-weight: 500
    tbody
        tr
            border-bottom: 2px solid #fff
            &.proxy-switch:hover
                cursor: pointer
                border-bottom: 2px solid darken(#fff, 9%)
        td
            border: 0
            margin-left: 3px
            margin-right: 3px