.tipsy
    position: absolute
    z-index: 100000
    padding: 5px
    font-size: 12px
    pointer-events: none

.tipsy-inner
    max-width: 200px
    padding: 8px 10px
    line-height: 12px
    color: #fff
    text-align: center
    text-shadow: 0 -1px 0 black
    background-color: #383838
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3)

.tipsy-arrow
    position: absolute
    width: 0
    height: 0
    line-height: 0
    border: 6px dashed #383838

.tipsy-arrow-n
    border-bottom-color: #383838

.tipsy-arrow-s
    border-top-color: #383838

.tipsy-arrow-e
    border-left-color: #383838

.tipsy-arrow-w
    border-right-color: #383838

.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow
    top: 0
    border-top: none
    border-right-color: transparent
    border-left-color: transparent
    border-bottom-style: solid

.tipsy-n .tipsy-arrow
    left: 50%
    margin-left: -5px

.tipsy-nw .tipsy-arrow
    left: 10px

.tipsy-ne .tipsy-arrow
    right: 10px

.tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow
    bottom: 0
    border-bottom: none
    border-right-color: transparent
    border-left-color: transparent
    border-top-style: solid

.tipsy-s .tipsy-arrow
    left: 50%
    margin-left: -5px

.tipsy-sw .tipsy-arrow
    left: 10px

.tipsy-se .tipsy-arrow
    right: 10px

.tipsy-e .tipsy-arrow
    top: 50%
    right: 0
    margin-top: -5px
    border-right: none
    border-top-color: transparent
    border-bottom-color: transparent
    border-left-style: solid

.tipsy-w .tipsy-arrow
    top: 50%
    left: 0
    margin-top: -5px
    border-left: none
    border-top-color: transparent
    border-bottom-color: transparent
    border-right-style: solid

// fadeIn/fadeOut animation follows:
// NOTE: for "opacity" changing animation to work make sure window.jQuery.fn.tipsy.defaults.opacity is set to null

.tipsy
    opacity: 0

.tipsy-n, .tipsy-nw, .tipsy-ne, .tipsy-s, .tipsy-sw, .tipsy-se, .tipsy-e, .tipsy-w
    opacity: 1
    -webkit-transition: opacity 0.3s ease
    -moz-transition: opacity 0.3s ease
    transition: opacity 0.3s ease
