@font-face
    font-family: 'Lato'
    src: local('Lato Light'),
         local('Lato-Light'),
         url(http://themes.googleusercontent.com/static/fonts/lato/v6/0DeoTBMnW4sOpD0Zb8OQSALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype')
    font-style: normal
    font-weight: 300
