.btn
    font-family: inherit
    font-size: inherit
    letter-spacing: 1px
    text-transform: uppercase
    cursor: pointer
    background: none
    border: none
    outline: none
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s

.btn-yellow
    color: #fff
    background: #fcad26
    &:hover
        background: #f29e0d
    /*
    &:active
        background: #f58500
    */
    &:disabled
        cursor: default
        background: #ccc

#advanced-options-toggle-container
    margin-bottom: 3px
    text-align: center
    #advanced-options-toggle
        font-size: small
        color: #666
        text-decoration: none

#btn-activate
    width: 100%
    height: 36px
    margin-top: 2px
    margin-bottom: 3px

#recovery-container
    #reset-btn
        font-size: 12em
        @media (max-width: 480px)
            font-size: 10em
        color: #cdcdcd
        text-shadow: 0 1px 1px #aaa
        &:hover
            color: darken(#cdcdcd, 5%)
        &:active
            color: darken(#cdcdcd, 10%)
        .fontello-icon:before
            margin-left: 0
            margin-right: 0
