.selectize-control .copy-to-clipboard-button
    float: right
    margin-right: 22px
    color: #808080
    text-decoration: none
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s

    &.zeroclipboard-is-hover
        color: #666

    &.zeroclipboard-is-active
        color: #444